/* SigninSignup.css */

.signin-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}


p {
    margin-top: 15px;
    cursor: pointer;
    color: #064420;
}

p:hover {
    text-decoration: underline;
}